body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#my-created-div div {
    font: 10px sans-serif;
    background-color: crimson;
    text-align: right;
    padding: 5px;
    margin: 1px;
    color: white;
}
